{% extends 'base.html' %}
{% block styles %}
<style>
  #carousel .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 50vh;
  }
</style>
{% endblock %}
{% block content %}
<div id="carousel" class="carousel slide">
  <div class="carousel-inner vh-50">
    {% for kind, items in data.items() %}
    {% set outer_loop = loop %}
    {% for item in items %}
    <div class="carousel-item{% if loop.first and outer_loop.first %} active{% endif %}">
      <a href="{{ item.signup }}">
        <img src="{{ item.img }}" class="d-block w-100">
        <!--
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ item.title }}</h5>
              {% if item.desc %}<p>{{ item.desc }}</p>{% endif %}
            </div>
            -->
      </a>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
{% block scripts %}
<script>
  const myCarouselElement = document.querySelector('#carousel');
  const carousel = new bootstrap.Carousel(myCarouselElement);
</script>
{% endblock %}