{% extends 'base.html' %}
{% block content %}
<div class="row">
  <p>
    An #AdFree digital offering is one where the consumer has the option to
    directly pay the content creator for their work. Such offerings provide
    correct market incentives such that creators generate content that
    consumers desire. Creators then do not have to manage ad networks or
    generate clickbait for revenue. And consumers get faster loading pages,
    more valuable content, and safer internet experiences.
  </p>
  <p class="text-center">
    <a href="https://forms.gle/hzdsUug7V6EpRPK56">Please tell us about services missing from our list!</a>
  </p>

  {% set grouped = data|groupby("kind") %}

  {% for batched in grouped|batch(grouped|length//2) %}
  <div class="col-md-4{% if not loop.first %} offset-md-1{% endif %}">
    <dl>
      <hr>
      {% for kind, items in batched %}
      <dt>{{ kind|upper }}</dt>
      <dd>
        {% for subject, items in items|groupby("subject") %}
      <dt>{{ subject|join(", ")|title }}</dt>
      <dd>
        <ul>
          {% for item in items %}
          <li>
            <a href="{{ item.signup }}">{{ item.title }}</a>{% if item.desc %}: {{ item.desc }}{% endif %}
          </li>
          {% endfor %}
        </ul>
      </dd>
      {% endfor %}
      </dd>
      <hr>
      {% endfor %}
    </dl>
  </div>
  {% endfor %}
</div>
{% endblock %}